/* .navbar-item.navbar-center {
flex-grow: 1;
flex-direction: column;
justify-content: center;
} */

.body {
  font-family: Helvetica;
}
#home {
    background: lightblue url(./../images/home-logo.jpg) center / cover; 
  }
  
#who-we-are {
  background: black url(./../images/april-pethybridge-716796-unsplash.jpg) center / cover;
}

#who-we-are-container {
  background: rgb(49,49,49);
  color: white;
  width: 90%;
  padding: 0 5em 3em 5em;
}

@media only screen and (max-width : 767px) {
  #who-we-are-container {
    width: 100%;
  }
}

#who-we-are-title {
  color: white;
  padding: 2em 0 1em 0;
  width: 90%;
  display: inline-block;
  border-bottom: 2px solid rgb(78, 78, 78);
}

#who-we-are-line {
  background: rgb(78, 78, 78);
}
#who-we-are-columns {
  margin-top: 2.5em;
}

.transparent-bar {
  padding: 2.55rem;
  opacity: 0.34;
}

.main-content-paragraph {
  text-align: left;
  font-size: 1.3rem;
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  padding: 0 .5em 0 .5em;
  line-height: 1.75em;
}

.columns-padding-1-75 .column {
  padding: 1.75rem;
}

.button-padding {
  margin: 2.5rem 0 0 0;
  padding: 2rem;
  border-radius: 35px;
}
.is-very-light-blue {
  color: rgb(128,193, 229);
}

.is-important-text {
  font-size: 1.5rem;
} 

.is-pink {
  background: rgb(241, 127, 197);
  border-color: transparent;
  color: #f5f5f5;
}

.is-pink:hover {
  border-color: transparent;
  background: rgb(241, 106, 197);
  color: white;
}

.profile-card {
  height: 25em;
}

.dark-blue-background {
  background: rgb(65,182, 231);
}

.light-blue-background {
  background: rgb(25,185, 199);
}
  
#float {
  background: lightblue url(./../images/jonathan-hammond-686271-unsplash.jpg) center / cover;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-large {
  width:100%;
  height:100%;
}